.invoiceHeader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 10px;
  margin-left: 5px;
}

.invoiceNumber{
  margin-top: 20px;
  padding-left: 12px;
  font-size: 20px;
}

.row{
  border: 1px solid #DCDCDC;
  padding: 20px;
}

.row h4{
  float: left;
}

.tb-col{
  width: auto;
  height: auto;
  border-right: 1px solid #333;
  line-height: auto;
}


.tb-col:last-child{
  border-right: none;
}

td:first-child{
  width: 25%;
}

.info-left{
  display: flex;
  flex-direction: column;
  float: left;
  text-align: left;
}

.info-right{
  display: flex;
  flex-direction: column;
  float: right;
  text-align: right;
  font-weight: bold;
}

.billSpan{
  width: 50%;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}

.balanceSpan{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.balanceSpan span:first-child{
  font-weight: bold;
  font-size: 20px;
}

.balanceSpan span:last-child{
  font-weight: bold;
  font-size: 20px;
  color: orange;
}


a:hover {
  text-decoration: none !important;
}

.toolpit,
.toolpit p a{
  color: #333;
}

.toolpit,
.toolpit p {
  text-align: center;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


@media screen and (max-width: 930px) {  
  td:first-child{
    width: 35% !important;
  }
  .billSpan{
    width: 30% !important;
  }
}