.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #007F98;
}

.nt{
  margin-left: 40px;
}

.borderItem{
  border-radius: 20px;
  border: 1px solid black;
}

.nav-right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-right li {
  padding-right: 30px;
}


.nav-right li i{
  font-size: 20px;
}

.menu-right{
  margin-right: 140px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #2E63F0 !important;
}

.dropdown-menu{
  margin-right: 70px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
